apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  labels:
    app: alertmanager
data:
  alertmanager.yml: |
    global:
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'alassanebenzecoly@gmail.com'
      smtp_auth_username: 'alassanebenzecoly@gmail.com'
      smtp_auth_password: 'jxvs zuji cxcy pemu'  
      smtp_require_tls: true

    route:
      receiver: email-me

    receivers:
    - name: email-me
      email_configs:
      - to: 'alassanebenzecoly@gmail.com'
        send_resolved: true

