apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  grafana.ini: |
    [server]
    domain = grafana.local
    root_url = http://grafana.local/

    [database]
    type = sqlite3

    [security]
    admin_user = admin
    admin_password = admin123

    [users]
    default_theme = light

    [auth.anonymous]
    enabled = true
    org_name = Main Org.
    org_role = Viewer
